<md-toolbar class="md-whiteframe-glow-z1">
    <div class="md-toolbar-tools">
        <md-button ng-click="backToCards()" aria-label="Back">
            <ng-md-icon icon="arrow_back"></ng-md-icon>
        </md-button>
        <md-button class="md-icon-button" ng-click="openMenu()" hide-gt-sm aria-label="Toggle Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>
        <h2>{{card.data.name}}</h2>
    </div>
</md-toolbar>
<md-content md-scroll-y flex layout-padding>
    <ui-view layout="column" layout-fill layout-padding>
        <md-card flex>
            <h2>Card Type: {{card.data.card_type}}</h2>
            <md-card-content layout-gt-sm="row" layout="column">

                <div flex-gt-sm="none" flex class="img-styles">
                    <img ng-src="http://yugiohprices.com/api/card_image/{{card.data.name}}" style="width:100%; max-width:220px;">
                </div>
                <div flex-gt-sm="auto" flex>
                    <p>
                        {{card.data.text}}
                    </p>
                </div>
            </md-card-content>
        </md-card>
    </ui-view>
</md-content>